body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    /* background: #ffd7f5; */
    color: black;
}

.container {
    position: absolute;
    left: 50%;
    top: 10px;
    margin-left: -208px;
    width: 436px;
}

#header {
    padding: 10px 10px 10px 30px;
    background: #830759;
    background: linear-gradient(to top, #830759, #ba077d);
    border-radius: 10px 10px 0 0;
}

#header h1 {
    padding: 0;
    margin: 0;
    color: #ffe8fc;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 0 1px 1px #480732;
}

#calculator {
    padding: 10px;
    background-color: #ffe6fb;
    height: 360px;
}

#footer {
    padding: 5px;
    background: #830759;
    background: linear-gradient(to top, #830759, #ba077d);
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-align: right;
    border-radius: 0 0 5px 5px;
}

#calculator button {
    margin: 1px;
    height: 50px;
    width: 50px;
    border: solid 1px #ff79ce;
    border-radius: 5px;
    background: #ff79ce;
    background: linear-gradient(to top, #ff79ce, #ffc0e0);
    font-weight: bold;
}

#calculator button:hover {
    background: #830759;
    background: linear-gradient(to top, #830759, #ba077d);
    color: white;
}

#calculator button {
    float: left;
}

#calculator .calculator-display {
    margin: 20px 2px;
    padding: 10px;
    height: 25px;
    background-color: #ffd6f1;
    color: #830759;
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    border: solid 1px #830759;
    border-radius: 5px;
}

#operation {
    display: inline;
    float: left;
    font-size: 12px;
    padding-left: 5px;
}

#value {
    display: block;
    float: right;
}

#calculator .calculator-convertor {
    display: block;
    height: 60px;
}

#calculator .calculator-convertor button {
    float: left;
    width: 102px;
}

#calculator .calculator-ext {
    float: left;
    width: 134px;
}

#calculator .calculator-ext button {
    height: 50px;
    width: 65px;
}

#calculator .calculator-nums {
    float: left;
    width: 156px;
    margin: 0 10px;
}

#calculator .calculator-nums button[name="zero"] {
    width: 102px;
}

#calculator .calculator-ops {
    float: left;
    width: 52px;
}

#calculator .calculator-ops button[name="calc"] {
    height: 102px;
}

